body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #ffd6e8 url('angelina.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #c2185b;
}

/* Lock screen */
#lock-screen {
    margin-top: 150px;
}

#code-input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ff8bb5;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #ff8bb5;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #ff6ba5;
}

.hidden {
    display: none;
}

.welcome {
    margin-top: 40px;
    font-size: 32px;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Navbar button */
.nav-btn {
    margin-top: 20px;
    font-size: 20px;
}

/* Navbar links */
#navbar {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#navbar a {
    background: #ff8bb5;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
}

/* Hide all sections by default */
section {
    display: none;
    padding: 20px;
}

/* Gallery */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery-container img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(255, 105, 150, 0.4);
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

.card {
    width: 600px;
    height: 1150px;
    position: relative;
    perspective: 1000px;
}

.card-front, .card-inside {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    transition: transform 1s;
    box-shadow: 0 6px 15px rgba(255, 105, 150, 0.4);
}

/* Front Cover */
.card-front {
    background: #ffc5dd;
    border: 2px solid #ff8fb7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-front h3 {
    font-size: 22px;
    color: #b03060;
}

/* Inside Card */
.card-inside {
    background: #fff1f7;
    border: 2px solid #ff8fb7;
    padding: 20px;
    font-size: 20px;
    line-height: 22px;
    transform: rotateY(-180deg);
    color: #444444;
}

/* Animation class when opened */
.card.open .card-front {
    transform: rotateY(180deg);
}

.card.open .card-inside {
    transform: rotateY(0deg);
}